{% extends "questionnaire/Page.html" %}
{% load i18n otree %}

{% block title %}
    {% trans 'Анкета' %}
{% endblock %}

{% block content %}
     {% formfield player.regions_been %}
     {% formfield player.abroad_been  %}
    {{ form.media }}
    <div class="col-form-label">
        {% blocktrans %}Из каких источников вам известно о следующих регионах России (возможно выбрать  несколько ответов):
        {% endblocktrans %}
    </div>
    <table class="table">
        <thead>
        <th></th>
        {% for foo in form.Ark_source.field.widget.inner_choices %}
            <td>{{ foo.1 }}</td>
        {% endfor %}

        </thead>
        {{ form.Ark_source }}
        {{ form.Vlk_source }}
        {{ form.Vor_source }}
        {{ form.Ekb_source }}
        {{ form.Kaz_source }}
        {{ form.Mak_source }}
        {{ form.Mos_source }}
        {{ form.Nsk_source }}
        {{ form.Per_source }}
        {{ form.Ros_source }}
        {{ form.SPb_source }}
        {{ form.Khb_source }}

    </table>




    {% next_button %}

{% endblock %}