{% extends "questionnaire/Page.html" %}
{% load i18n otree %}
{% load render_bundle from webpack_loader %}
{% block title %}
    {% trans 'Анкета' %}
{% endblock %}

{% block content %}

    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <script>
        var originalList ={{ player.get_rank_fields|json }};
        var listFilled = false;
        var originalListTitle = " {% trans 'Выберите город:'%}";
        var rankedListTitle = "{% trans 'Поместите его в этот список в нужном порядке:' %}";
        var DNKListTitle = "{% trans 'Если вы затрудняетесь ответить, поместите город в этот список:' %}";
        var error = false;
    </script>
    <div class="col-form-label" id="rank_app_title">
        {% blocktrans %}
            Please look at the list of Russian regions, including yours in Column (1). Please rank these regions in
            descending order of the average monthly income of their inhabitants in the Column (2). In case you have no
            clear idea move the regions to Column (3).
        {% endblocktrans %}

    </div>
    <div id="rank_app" class="rank"></div>
    {% render_bundle 'chunk-vendors' %}
    {% render_bundle 'rank' %}


    {% formfield player.regional_differences %}
    {% formfield player.regional_income %}
    {% formfield player.relative_position_in_region %}

    {% next_button %}

{% endblock %}
{% block scripts %}


    <script>
        $(() => {
            const form = $('form#form');
            form.unbind('submit');

            form.submit((event) => {
                if (!listFilled) {
                    event.preventDefault();
                    window.rankVue.$children[0].error= true;

                    var pos = $('#rank_app_title').offset();
                    console.debug(pos);
                    $("html, body").animate({scrollTop: pos.top - 30});
                }
                ;
            })
        })


    </script>


{% endblock %}
