{% extends "global/Page.html" %}
{% load i18n otree %}

{% block title %}
    {% trans 'Анкета' %}
{% endblock %}

{% block content %}
         {% for foo in form %}
            {% if   foo.name in form.non_joined_fields and foo.name not in view.blocked_fields %}
                {% formfield foo %}
            {% endif %}
        {% endfor %}
    {{ form.media }}

    <table class="table">
        <thead>
        <th></th>
        {% for foo in form.Ark_source.field.widget.inner_choices %}
            <td>{{ foo.1 }}</td>
        {% endfor %}

        </thead>
        {{form.Ark_source}}
        {{form.Vlk_source}}
        {{form.Vor_source}}
        {{form.Ekb_source}}
        {{form.Kaz_source}}
        {{form.Mak_source}}
        {{form.Mos_source}}
        {{form.Nsk_source}}
        {{form.Per_source}}
        {{form.Ros_source}}
        {{form.SPb_source}}
        {{form.Khb_source}}

    </table>

        {% for jfield in form.joined_fields|default_if_none:None %}
            {% include 'questionnaire/includes/joined_field.html' with jfield=jfield form=form %}
        {% endfor %}



    {% next_button %}

{% endblock %}