{% extends "global/Page.html" %}
{% load i18n otree %}

{% block title %}
    {% trans 'Анкета' %}
{% endblock %}

{% block content %}
    <style>
        th {
            position: sticky;
            top: 20px;
            background: #eee;
            z-index: 1000 !important
        }
    </style>
    {% formfield player.regions_been %}
    {% formfield player.abroad_been %}
    {{ form.media }}
    <div class="col-form-label">
        {% blocktrans %}Из каких источников вам известно о следующих регионах России (возможно выбрать  несколько
            ответов):
        {% endblocktrans %}
    </div>
    <table class="table">
        <thead>
        <th></th>
        {% for foo in form.Mos_source.field.widget.inner_choices %}
            <th>{{ foo.1 }}</th>
        {% endfor %}

        </thead>
        {% for foo in form %}
            {% if foo.name in view.blocked_fields %}
                {{ foo }}
            {% endif %}
        {% endfor %}


    </table>




    {% next_button %}

{% endblock %}