{% extends "global/Page.html" %}
{% load i18n otree %}
{% load render_bundle from webpack_loader %}
{% block title %}
    {% trans 'Анкета' %}
{% endblock %}

{% block content %}

    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <script>
        var originalList ={{ player.get_rank_fields|json }};
        var listFilled = false;
        var originalListTitle = " {% trans 'Выберите город:'%}";
        var rankedListTitle = "{% trans 'Поместите его в этот список в нужном порядке:' %}";
        var DNKListTitle = "{% trans 'Если вы затрудняетесь ответить, поместите город в этот список:' %}";
        var error = false;
    </script>
    <div class="col-form-label" id="rank_app_title">
        {% blocktrans %}Пожалуйста, посмотрите на список регионов России, включая ваш, в колонке (1). Пожалуйста, оцените эти регионы
в порядке убывания среднемесячного дохода их жителей в графе (2). Если вы не знаете, куда поместить конкретный регион,
            поместите его в столбец (3).
        {% endblocktrans %}

    </div>
    <div id="rank_app" class="rank"></div>
    {% render_bundle 'chunk-vendors' %}
    {% render_bundle 'rank' %}


    {% formfield player.rank_comment %}
    {% formfield player.regional_differences %}
    {% formfield player.regional_income %}
    {% formfield player.relative_position_in_region %}

    {% next_button %}

{% endblock %}
{% block scripts %}


    <script>
        $(() => {
            const form = $('form#form');
            form.unbind('submit');

            form.submit((event) => {
                if (!listFilled) {
                    event.preventDefault();
                    window.rankVue.$children[0].error= true;

                    var pos = $('#rank_app_title').offset();
                    console.debug(pos);
                    $("html, body").animate({scrollTop: pos.top - 30});
                }
                ;
            })
        })


    </script>


{% endblock %}
