{% extends "questionnaire/Page.html" %}
{% load otree i18n hse %}

{% block title %}
    {% trans 'Анкета' %}
{% endblock %}

{% block content %}

    {% joined_form form %}

    <script>
        var church = $('#id_religion_service').parent().parent();
        var church_items = $('input:radio[name="religion_service"]');
        var same_moral = $('#id_religion_moral').parent().parent();
        var same_moral_items = $('input:radio[name="religion_moral"]');
        var choices_to_hide = [church, same_moral];
        var choices_to_require = [church_items, same_moral_items];
        var curval = $('input:radio[name="religion"]:checked').val();
        if (parseInt(curval) === 1) {
            church.hide();
        }
        $('input:radio[name="religion"]').change(function () {
            if (parseInt(this.value) === 1) {
                choices_to_hide.forEach(v => {
                    v.hide();
                })
                choices_to_require.forEach(v => {
                    v.attr('required', false);
                })

            } else {
                choices_to_hide.forEach(v => {
                    v.show();
                })
                choices_to_require.forEach(v => {
                    v.attr('required', true);
                })
            }
            ;
        });
    </script>

    {% next_button %}

{% endblock %}
