{% extends "global/Page.html" %}
{% load otree i18n  hse %}

{% block title %}
    {% trans 'Анкета' %}
{% endblock %}

{% block content %}
         {% for foo in form %}
            {% if   foo.name in form.non_joined_fields  %}
                {% formfield foo %}
            {% endif %}
        {% endfor %}


        {% for jfield in form.joined_fields|default_if_none:None %}
            {% include 'questionnaire/includes/joined_field.html' with jfield=jfield form=form %}
        {% endfor %}

    {% next_button %}

{% endblock %}
