{% extends "global/Page.html" %}
{% load otree i18n %}

{% block title %}
    {% trans 'Валюта исследования' %}
{% endblock %}

{% block content %}

    <div class="row my-3">
        <div class="col">
            <div class="card">
                <div class="card-body lead text-center">
                    Напоминаем вам, что ваш бонус в этом исследованииизмеряется в специальной валюте, называемой токен.
                    <br>
                    Каждый  токен обменивается на US$ по ставке <b>1 токен = 0.10 US$</b>.
                </div>
            </div>

        </div>
    </div>

    {% next_button %}

{% endblock %}
