{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Introduction
{% endblock %}

{% block content %}
    Screen 1
    In this experiment you will make several decisions and you will interact with other participants.
    The experiment consists of three parts. In each you can earn Token.
    Token will be converted into real money: 10 Token = ??? Rubles.

    Your payoff at the end of the experiment is the sum of Token earned in all 3 parts.
    Information on each part will be provided before each part starts.
    Your decision in one part of the experiment does not influence your earnings in other parts.

    Some participants in this experiment are from the same City as you are.
    The other participants are from one of 11 different Cities, located in 11 Russian regions.
    The names of the 11 Cities (Regions) will be shown when the experiment starts.
    {% next_button %}

{% endblock %}
