{% extends "global/Page.html" %}
{% load otree i18n %}

{% block title %}
    {% trans 'Введение' %}
{% endblock %}

{% block content %}

    <div class="row my-3">
        <div class="col">


            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    {% blocktrans trimmed %}
                        В этом эксперименте принимают участие зарегистрированные пользователи
                        Яндекс Толока со
                        всей Российской Федерации. Все участники – реальные
                        люди. Вы примете несколько решений, взаимодействуя в паре с другим
                        участником эксперимента, случайным образом выбранным из числа
                        пользователей Яндекс Толока.
                    {% endblocktrans %}
                </li>

                <li class="list-group-item">
                    {% blocktrans trimmed%}
                        Ваше вознаграждение за участие в размере $3 будет выплачено Вам как только Вы
                        введете правильный код участника в окно интерфейса на последней странице эксперимента.
                    {% endblocktrans %}
                </li>
                <li class="list-group-item">
                    {% blocktrans trimmed %}
                        Эксперимент состоит из трех частей. В Части 1 и Части 2 Вы также сможете заработать
                        дополнительные деньги, которые будут выплачены Вам в качестве бонуса Толоки.  В части 3 вам
                        предстоит ответить на вопросы анкеты. Общий размер Вашего
                        бонуса будет равен сумме бонусов за первые две части эксперимента. {% endblocktrans %}
                </li>
                <li class="list-group-item">
                    {% blocktrans %}Ваше вознаграждение за эти две части измеряется в специальной валюте, называемой
                        токен. Каждый токен обменивается на US$ по ставке 1 токен = 0.10 US$. Минимально возможный
                        размер бонуса составляет 0 Токенов (0 US$), максимально возможный размер – 50 токенов (5 US$).
                        Эти деньги будут выплачены Вам после того как свои решения примете как Вы, так и другой участник
                        из Толоки, выбранный случайным образом.
                    {% endblocktrans %}
                </li>
                <li class="list-group-item">
                    {% blocktrans %}Ваши решения в одной части эксперимента не повлияют на Ваш бонус по итогам другой
                        части эксперимента.
                    {% endblocktrans %}
                </li>

                <li class="list-group-item">
                    {% blocktrans trimmed %}
                        Некоторые участники этого эксперимента находятся в том же городе, что и Вы.
                        Остальные участники находятся в одном из 11 других городов в 11 регионах со
                        всей Российской Федерации. Таким образом, всего в эксперименте взаимодействуют участники из 12
                        городов. Названия этих городов и регионов
                        вы увидите когда начнется эксперимент.

                    {% endblocktrans %}
                </li>
                <li class="list-group-item">
                    {% blocktrans trimmed %}
                        Поскольку реальные участники из Яндекс Толока со всей
                        Российской Федерации взаимодействуют между собой, разница во времени между городами,
                        участвующими в этом эксперименте, может
                        достигать 7 часов. Поэтому пожалуйста отнеситесь с пониманием к тому, что между Вашим  решением
                        и решением другого участника из Толоки, с которым Вы взаимодействуете, может пройти некоторое
                        время. Как сказано выше, Вы получите Ваш бонус как только Ваше решение будет сопоставлено с
                        решением другого участника из Толоки, выбранного случайным образом, что может занять до 24
                        часов.
                    {% endblocktrans %}
                </li>
                <li class="list-group-item">
                    {% blocktrans trimmed %}
                         На вопросы в эксперименте и анкете нет правильных и неправильных ответов - отвечайте так как считаете нужным.
                    {% endblocktrans %}
                </li>

            </ul>

        </div>
    </div>

    {% next_button %}

{% endblock %}
