{% extends "global/Page.html" %}
{% load otree i18n %}

{% block title %}
    {% trans 'Участники' %}
{% endblock %}

{% block content %}

    <div class="row my-3">
        <div class="col">


            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    {% blocktrans trimmed %}
                        В этом исследовании принимают участие зарегистрированные пользователи Яндекс Толока со всей
                        Российской Федерации. Все участники – реальные люди. Вы примете несколько решений,
                        взаимодействуя в паре с другим участником исследования, случайным образом выбранным из числа
                        пользователей Яндекс Толока.
                    {% endblocktrans %}
                </li>

                <li class="list-group-item">
                    {% blocktrans trimmed %}
                        Некоторые участники этого исследования находятся в том же городе, что и Вы. Остальные участники
                        находятся в одном из 11 других городов в 11 регионах со всей Российской Федерации. Таким
                        образом, всего в исследовании взаимодействуют участники из 12 городов. Названия этих городов и
                        регионов вы увидите когда начнется исследование.
                    {% endblocktrans %}
                </li>
                <li class="list-group-item">
                    {% blocktrans trimmed %}
                        Поскольку реальные участники из Яндекс Толока со всей Российской Федерации взаимодействуют между
                        собой, разница во времени между городами, участвующими в этом исследовании, может достигать 7
                        часов. Пожалуйста отнеситесь с пониманием к тому, что между Вашим решением и решением другого
                        участника из Толоки, с которым Вы взаимодействуете, может пройти некоторое время. Как сказано
                        выше, Вы получите Ваш бонус как только Ваше решение будет сопоставлено с решением другого
                        участника из Толоки, выбранного случайным образом, что может занять до 36 часов.

                    {% endblocktrans %}
                </li>
                <li class="list-group-item">
                    {% blocktrans trimmed %}
                        Если Вы готовы начать, пожалуйста, нажмите <b><i>Далее</i></b> и ознакомьтесь с инструкциями.
                    {% endblocktrans %}
                </li>
            </ul>
        </div>
    </div>
    {% next_button %}

{% endblock %}
