{% extends 'mingle/MinglerBase.html' %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        <table>
            <thead>
            <tr>
                <td>&nbsp;</td>
                <td>V</td>
                <td>S</td>
            </tr>
            </thead>
            {% for pk, choice in form.mingles.field.widget.choices %}
                <tr>
                <td>
                    {{ pk }}
                </td>
                </tr>
            {% endfor %}
        </table>
        <button>CREATE</button>
    </form>


{% endblock %}

