{% extends 'mingle/MinglerBase.html' %}
{% block content %}
<h5 class="text-danger"> {{ form.non_field_errors }}</h5>
    <form method="post">
        {{ formset.management_form }}
        <table class="table table-hover table-striped">
            {% for f in formset %}
                <tr>
                    <td>{{ f.instance.id }}</td>
                    <td>{{ f.instance.created_at }}</td>
                    <td>{{ f.instance.owner.code }}</td>
                    <td>{{ f.instance.owner.config.city_code }}</td>
                    {% for field in f %}
                        <td>{{ field }}</td>
                    {% endfor %}
                </tr>
                </tr>
            {% endfor %}
        </table>
        {% csrf_token %}
    {{ form }}

        <button class="btn btn-outline-primary">CREATE</button>
    </form>


{% endblock %}

