{% extends 'mingle/MinglerBase.html' %}
{% block content %}
    <form method="post">
        <div class="my-3">
            {{ form }}
        </div>
        <div class="d-flex">
            <div class="btn-group">
                 <a href="{% url 'mingle_home' %}" role="button"
                                       class="btn   btn-outline-secondary">Cancel</a>
                <button type="submit" class="btn btn-success"
                ">Create</button>
            </div>
            <div class="btn-group ml-auto">

                <button type="button" class="btn btn-outline-danger" id="selectall">Select all</button>
                <button type="button" class="btn btn-outline-success" id="unselectall">Unselect all</button>
            </div>
        </div>
        <h5 class="text-danger"> {{ form.non_field_errors }}</h5>

        {{ formset.management_form }}
        <table class="table table-hover table-striped">
            <thead>
            <th></th>
            <th>Created at</th>
            <th>Session link</th>
            <th>N.</th>
            <th>City</th>
            <th></th>
            </thead>
            {% for f in formset %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ f.instance.created_at }}</td>
                    <td>
                        <a href="{% url "SessionData" f.instance.owner.code %}" target="_blank">
                            {{ f.instance.owner.code }}
                        </a>

                    </td>
                    <td>{{ f.instance.calcs }}</td>
                    <td>{{ f.instance.city.eng }}</td>
                    {% for field in f %}
                        <td>{{ field }}</td>
                    {% endfor %}
                </tr>
                </tr>
            {% endfor %}
        </table>
        {% csrf_token %}

        <div class="btn-group">
            <a href="{% url 'mingle_home' %}" role="button"
                                       class="btn   btn-outline-secondary">Cancel</a>
            <button class="btn btn-success">Create</button>
        </div>

    </form>


{% endblock %}

{% block scripts %}
    <script>
        function selectall(select = true) {
            $('[type="checkbox"]').prop('checked', select);
            ;
        }

        $('#selectall').click(function () {
            selectall()
        })
        $('#unselectall').click(function () {
            selectall(false)
        })
    </script>


{% endblock %}
