{% extends 'mingle/MinglerBase.html' %}
{% load otree %}
{% block back %}

{% endblock %}
{% block title %}
    Results
{% endblock %}
{% block styles %}
    <style>
        body, html {
            height: 100%;
        }
    </style>

{% endblock %}
{% block main %}
    <div class="   d-flex flex-column h-100 bg-dark">
        <div class=" flex-grow-1 my-auto   d-flex container my-3  h-100 align-items-center justify-content-center">
            <div class="row">
                <div class="col">
                    <div class="card my-3">
                        <div class="card-body">
                            <table class="table table-hover table-striped ">
                                <tr>
                                    <td>Ваш код:</td>
                                    <td>{{ p.owner.code }}</td>

                                </tr>
                                <tr>
                                    <td>Ваша роль:</td>
                                    <td>Участник {{ p.player.role_desc }}</td>
                                </tr>
                                <tr>
                                    <td>Из города:</td>
                                    <td>{{ p.city.description }}</td>
                                </tr>
                                <tr>
                                    <td>Ваш партнер из города:</td>
                                    <td>{{ p.other.city.description }}</td>
                                </tr>



                                {% if  p.role == 'sender' %}
                                    <tr>
                                        <td>Вы передали {{ p.other.player.role_desc }}:</td>
                                        <td>{{ decision }}</td>
                                    </tr>
                                    <tr>
                                        <td>Участник {{ p.other.player.role_desc }} вернул вам:</td>
                                        <td>{{ other_decision }}</td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td>Участник {{ p.other.player.role_desc }} передал вам:</td>
                                        <td>{{ other_decision }}</td>
                                    </tr>
                                    <tr>
                                        <td>Вы вернули Участнику {{ p.other.player.role_desc }}:</td>
                                        <td>{{ decision }}</td>
                                    </tr>
                                {% endif %}

                                <tr>
                                    <td>Ваш бонус (в токенах) за 1 часть:</td>
                                    <td>{{ p.player.stage1payoff }}</td>
                                </tr>

                                {% if  p.role == 'sender' %}
                                    <tr>
                                        <td>Ваши ожидания о сумме, которую вернет {{ p.other.player.role_desc }}:</td>
                                        <td>{{ belief }}</td>
                                    </tr>

                                {% else %}
                                    <tr>
                                        <td>Ваши ожидания о сумме, которую пошлет {{ p.other.player.role_desc }}:</td>
                                        <td>{{ belief }}</td>
                                    </tr>


                                {% endif %}
                                <tr>
                                    <td>Ваш бонус (в токенах) за 2 часть:</td>
                                    <td>{{ p.player.stage2payoff }}</td>
                                </tr>

                                <tr>
                                    <td>Ваш общий бонус (в токенах):</td>
                                    <td>{{ p.player.payoff }}</td>
                                </tr>
                                <tr class="font-weight-bold table-success">
                                    <td>Ваш финальный бонус в USD:</td>
                                    <td>{{ p.owner.payoff_in_real_world_currency }}</td>
                                </tr>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

