{% extends 'mingle/MinglerBase.html' %}
{% block back %}

{% endblock %}
{% block title %}
    Results
{% endblock %}
{% block styles %}
    <style>
        body, html {
            height: 100%;
        }
    </style>

{% endblock %}
{% block main %}
    <div class="   d-flex flex-column h-100 bg-dark">
        <div class=" flex-grow-1 my-auto   d-flex container my-3  h-100 align-items-center justify-content-center">
            <div class="row">
                <div class="col">
                    <div class="card my-3">
                        <div class="card-body">
                            <table class="table table-hover table-striped ">
                                <tr>
                                    <td>Your code:</td>
                                    <td>{{ p.owner.code }}</td>

                                </tr>
                                <tr>
                                    <td>Your role:</td>
                                    <td>Participant {{ p.player.role_desc }}</td>
                                </tr>
                                <tr>
                                    <td>You are from city:</td>
                                    <td>{{ p.city.eng }}</td>
                                </tr>
                                <tr>
                                    <td>You have been matched with participant from city:</td>
                                    <td>{{ p.other.city.eng }}</td>
                                </tr>
                                <tr>
                                    <td>Your decision about Participant:</td>
                                    <td>{{ decision }}</td>
                                </tr>
                                <tr>
                                    <td>His decision:</td>
                                    <td>{{  other_decision }}</td>
                                </tr>
                                <tr>
                                    <td>You believed participant from this city would do:</td>
                                    <td>{{ belief }}</td>
                                </tr>

                                <tr>
                                    <td>Your bonus in Token:</td>
                                    <td>{{ p.player.payoff }}</td>
                                </tr>
                                <tr>
                                    <td>Your bonus in USD:</td>
                                    <td>{{ p.owner.payoff_in_real_world_currency }}</td>
                                </tr>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

