{% extends 'mingle/MinglerBase.html' %}
{% block content %}


    <div class="btn-group" role="group" aria-label="Basic example">
        <a href='{% url 'MegaSessionStats' pk=megasession.id %}' role='button' class="btn btn-lg btn-outline-info">
            Get statistics
        </a>
        <a href='{% url 'mega_create_groups' pk=megasession.id %}' role='button' class="btn btn-lg btn-success">Create
            groups</a>

        <a href='{% url 'mega_calculate_payoffs' pk=megasession.id %}' role='button' class="btn btn-lg btn-danger">Calculate
            payoffs</a>
    </div>

    <hr>
    <table class="table">
        {% for f in mparticipants %}
            <tr>
                <td>{{ f.owner.session.code }}</td>
                <td>{{ f.realgroup }}</td>
                <td>{{ f.pseudogrouped }}</td>
                <td>{{ f.role }}</td>
                {% if f.grouped %}
                    <td>{{ f.decision }}</td>
                    <td>{{ f.group_partner.decision }}</td>
                    <td>{{ f.guess }}</td>

                    <td>{{ f.owner.payoff }}</td>
                    <td>{{ f.player.city.description }}</td>
                    <td>{{ f.other_city.description }}</td>
                {% endif %}

            </tr>
        {% endfor %}

    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination">

            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a href="?page=1" class="page-link">&laquo; first</a>

                </li>
                <li class="page-item">
                    <a href="?page={{ page_obj.previous_page_number }}" class="page-link">previous</a>

                </li>

            {% endif %}
            <li class="page-item">
                <div  class="page-link" disabled> Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</div>

            </li>


            {% if page_obj.has_next %}
                <li class="page-item">
                    <a href="?page={{ page_obj.next_page_number }}"
                       class="page-link">{{ page_obj.next_page_number }}</a>

                </li>
                <li class="page-item">
                    <a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">Last</a>

                </li>


            {% endif %}

        </ul>
    </nav>

{% endblock %}

