{% extends 'mingle/MinglerBase.html' %}
{% block content %}


    <div class="btn-group" role="group" aria-label="Basic example">
        <a href='{% url 'MegaSessionStats' pk=megasession.id %}' role='button' class="btn btn-lg btn-outline-info">
            Get statistics
        </a>
        <a href='{% url 'mega_create_groups' pk=megasession.id %}' role='button' class="btn btn-lg btn-success">Create
            groups</a>

        <a href='{% url 'mega_calculate_payoffs' pk=megasession.id %}' role='button' class="btn btn-lg btn-danger">Calculate
            payoffs</a>
    </div>

    <hr>
    <table class="table">
        <thead>
        <th>
            Session
        </th>

        <th>
            Participant
        </th>
        <th>
            Group
        </th>
        <th>
            City
        </th>
        <th>
            Role
        </th>
        <th>
            Sender decision
        </th>
        <th>
            Receiver decision
        </th>
        <th>
            Sender belief
        </th>
        <th>
            Receiver belief
        </th>
        <th>
            Stage 1 Payoff
        </th>
        <th>
            Stage 2 Payoff
        </th>
        <th >
            Payoff
        </th>

        </thead>
        {% for f in mparticipants %}
            <tr>
                <td>
                    {{ f.owner.session.code }}
                </td>
                <td>
                    {{ f.owner.code }}
                </td>
                {% if megasession.groups_formed %}


                    <td>
                        {{ f.group.id }}
                    </td>
                    <td>
                        {{ f.city.description }}
                    </td>
                    <td>
                        {{ f.playerrole }}
                    </td>


                    <td>
                        {{ f.group.sender_decision_re_receiver }}
                    </td>
                    <td>
                        {{ f.group.receiver_decision_re_sender }}
                    </td>
                    <td>
                        {{ f.group.sender_belief_re_receiver }}
                    </td>
                    <td>
                        {{ f.group.receiver_belief_re_sender }}
                    </td>
                    <td>
                        {{ f.owner.trust_player.all.0.stage1payoff }}
                    </td>
                    <td>
                        {{ f.owner.trust_player.all.0.stage2payoff }}
                    </td>
                    <td>
                        {{ f.owner.trust_player.all.0.payoff }}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}

    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination">

            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a href="?page=1" class="page-link">&laquo; first</a>

                </li>
                <li class="page-item">
                    <a href="?page={{ page_obj.previous_page_number }}" class="page-link">previous</a>

                </li>

            {% endif %}
            <li class="page-item">
                <div class="page-link" disabled> Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</div>

            </li>


            {% if page_obj.has_next %}
                <li class="page-item">
                    <a href="?page={{ page_obj.next_page_number }}"
                       class="page-link">{{ page_obj.next_page_number }}</a>

                </li>
                <li class="page-item">
                    <a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">Last</a>

                </li>


            {% endif %}

        </ul>
    </nav>

{% endblock %}

