{% extends 'mingle/MinglerBase.html' %}
{% block content %}
    <div class="alert alert-danger lead">
        Are you sure you want to delete this MegaSession?
    </div>
    <form action="" method="post" role="form" id="form" autocomplete="off">
        {% csrf_token %}


        <div>
            <button class="btn btn-lg btn-danger">Yes, delete</button>
            <a href="{% url 'MegaSessionDetail' pk=object.id %}" role="button" class="btn btn-lg btn-outline-secondary">
               No, cancel
            </a>
        </div>

    </form>




{% endblock %}

