{% extends 'mingle/MinglerBase.html' %}
 {% block back %}
                        <div><a class="nav-link" href="{% url 'ExportIndex' %}">
                            Back to Otree</a></div>
                    {% endblock %}
{% block content %}
    <div>
    <a href="{% url 'CreateNewMegaSession' %}" role="button"
    class="btn btn-lg btn-outline-primary">Create new megasession</a>
    </div>
    {% if megasessions %}
        <table class="table table-hover table-striped">
            {% for m in megasessions %}
                <tr>
                    <td>
                        <a href="{% url 'MegaSessionDetail' pk=m.id %}">
                            Megasession {{ m.id }}
                        </a>
                        <a href="{% url 'DeleteMegaSession' pk=m.id %}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </table>

    {% else %}
        <div>No megasessions yet</div>
    {% endif %}

{% endblock %}
