{% extends 'mingle/MinglerBase.html' %}
{% block content %}

    {% if megasessions %}
        <table class="table table-hover table-striped">
            {% for m in megasessions %}
                <tr>
                    <td>
                        <a href="{% url 'MegaSessionDetail' pk=m.id %}">
                            Megasession {{ m.id }}
                        </a>
                        <a href="{% url 'DeleteMegaSession' pk=m.id %}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </table>

    {% else %}
        <div>No megasessions yet</div>
    {% endif %}

{% endblock %}
