{% extends 'mingle/MinglerBase.html' %}
{% block back %}

{% endblock %}
{% block styles %}
    <style>
        body, html {
            height: 100%;
        }
    </style>
{% endblock %}
{% block backtomingler %}

{% endblock %}
{% block restmenu %}

    <div class="nav-item ">
        <a href="{% url 'CreateNewMegaSession' %}" role="button"
           class="btn btn-lg btn-outline-primary">Create new megasession</a>
    </div>

{% endblock %}
{% block content %}



    {% if megasessions %}

        {% for m in megasessions %}

            <div class="d-flex align-items-center my-3">
                <div>
                    <a href="{% url 'MegaSessionDetail' pk=m.id %}">
                        Megasession {{ m.id }}
                    </a>
                </div>
                <div>
                    <a href="{% url 'MegaSessionDetail' pk=m.id %}">
                         {{ m.created_at }}
                    </a>
                </div>
                <div class="ml-auto">
                    <a role="button" class="btn btn-outline-danger "
                       href="{% url 'DeleteMegaSession' pk=m.id %}">Delete</a>
                </div>
            </div>
            {% if not forloop.last %}
                <hr>
            {% endif %}
        {% endfor %}


    {% else %}
        <div>No megasessions yet</div>
    {% endif %}

{% endblock %}
