{% extends 'mingle/MinglerBase.html' %}
{% block back %}

{% endblock %}
{% block styles %}
    <style>
        body, html {
            height: 100%;
        }
    </style>

{% endblock %}
{% block main %}
    <div class="   d-flex flex-column h-100 ">
        <div class="card flex-grow-1 my-auto d-flex align-items-center flex-column bg-dark h-100">
            <div class="my-auto text-center text-white">
                <div class="lead ">{{ message }}</div>
                <div>Если вы считаете, что произошла ошибка, напишите нам по адресу
                 <a href="mailto:epee@hse.ru" target="_blank" rel="noopener noreferrer">epee@hse.ru</a>.
                </div>
            </div>
        </div>
    </div>

{% endblock %}

