{% load i18n  otree %}
<style>
    .result {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        height: 370px !important;

    }

    .btn-circle.btn-xl {
        width: 70px;
        height: 70px;
        padding: 10px 16px;
        border-radius: 35px;
        font-size: 12px;
        text-align: center;
        -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    }

    .result .cardimg {
        width: 625px;
        height: 350px;
    }

    .fixedbtn {
        width: 100px
    }

    .card-wrapper {
        max-width: 600px;
    }
</style>


<div class="  d-flex align-items-center">

    <button class="btn btn-lg fixedbtn btn-circle btn-xl" role="button" type="button" id="backbtn" onclick="backward()">
       <svg width="100%" height="100%" viewBox="0 0 16 16" class="bi bi-arrow-left-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path fill-rule="evenodd" d="M8.354 11.354a.5.5 0 0 0 0-.708L5.707 8l2.647-2.646a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708 0z"/>
  <path fill-rule="evenodd" d="M11.5 8a.5.5 0 0 0-.5-.5H6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 .5-.5z"/>
</svg>
    </button>
    <div class="result"></div>

    <button class="btn btn-lg fixedbtn btn-circle btn-xl" role="button" type="button" id="forwardbtn"
            onclick="forward()">
        <svg width="100%" height="100%" viewBox="0 0 16 16" class="bi bi-arrow-right-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path fill-rule="evenodd" d="M7.646 11.354a.5.5 0 0 1 0-.708L10.293 8 7.646 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0z"/>
  <path fill-rule="evenodd" d="M4.5 8a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5z"/>
</svg>
    </button>

</div>


<script>
    const instructions_array = {{ instruction_links|json }};
    let initial_pointer = 0;
</script>
<script>
    const bktbtn = $('#backbtn');
    const fwdbtn = $('#forwardbtn');


    function get_new(mypointer) {
        const my_url_to_retrieve = instructions_array[mypointer]
        $.ajax(my_url_to_retrieve).done(function (data) {
            $(".result").html(data);
        }).fail(function () {
            console.debug('error!!')
        });
    }

    const enable_next_btn = () => {


        const nextBtn = $('#specificnextbtn');
        nextBtn.addClass('btn-danger');
        nextBtn.html('{% trans 'Да, я прочитал(а) инструкции' %}')
        nextBtn.show().removeClass('d-none');

    }
    const checkbtns = () => {
        if (initial_pointer === 0) {

            bktbtn.prop('disabled', true);
        } else {
            bktbtn.prop('disabled', false);
        }
        ;
        if (initial_pointer >= instructions_array.length - 1) {

            fwdbtn.prop('disabled', true);
            enable_next_btn()
        } else {
            fwdbtn.prop('disabled', false);
        }
        ;
    }
    checkbtns();
    get_new(initial_pointer)

    function backward() {
        if (initial_pointer > 0) {
            initial_pointer--;
            get_new(initial_pointer)
        }
        ;
        checkbtns();

    }

    function forward() {
        if (initial_pointer < instructions_array.length - 1) {
            initial_pointer++;
            get_new(initial_pointer)
        }
        ;
        checkbtns();

    }


</script>
