<div class="card my-3">
    <div class="card-body">
        <h5 class="card-title"> Просим Вас также ответить на дополнительные вопросы о том, как, по Вашему мнению, в
            среднем будут вести себя участники этого эксперимента.
            <b>Обратите внимание,</b> что ответы на эти вопросы никак не повлияют на Ваше вознаграждение по итогам
            эксперимента: Поскольку сессии во всех 12 городах еще не закончены, нельзя сказать, до какой степени Вы были
            точны. Тем не менее, для целей исследования очень важно, чтобы вы ответили на эти вопросы полностью и
            максимально честно.
        </h5>

    </div>
</div>
