<div class="card my-3">
    <div class="card-body">
        <h5 class="card-title"> Просим Вас также ответить на дополнительные вопросы о том, как, по Вашему мнению, в
            среднем будут вести себя участники этого эксперимента.
            <b>Обратите внимание,</b> что ответы на эти вопросы никак не повлияют на Ваше вознаграждение по итогам
            эксперимента: Поскольку сессии во всех 12 городах еще не закончены, нельзя сказать, до какой степени Вы были
            точны. Тем не менее, для целей исследования очень важно, чтобы вы ответили на эти вопросы полностью и
            максимально честно.
        </h5>
        <p>
            Представьте себе, что 100 случайным образом выбранных Участников А из каждого из 12 городов примут решения о
            передаче своих начальных сумм Участникам Б. Как Вы думаете, сколько из этих участников в каждом из этих
            городов примет решение передать свою начальную сумму Участникам Б? Впишите в каждую строку таблицы
            соответствующее число (от 0 до 100).
        </p>
    </div>
</div>
