<div class="card my-3">
    <div class="card-body">
        <h5 class="card-title">We now would like to ask you to answer some more questions. </h5>
        <div class="alert alert-info">
            Important Note: The answers to the next questions will not influence your final payoff.
            The reason is that we do not have the data of the 100 randomly selected Persons A and B in each of the 12
            Cities yet.
            Therefore, we at present cannot compare whether your answers are correct or not.
        </div>
        <p>
            Nevertheless, your answers are very import for our study. Therefore, please reply to our questions
            truthfully.

        </p>
    </div>
</div>