{% extends 'trust/includes/generic_block.html' %}
{% block title %}
    Receiver decision
{% endblock %}
{% block body %}
    <div>
        Please choose how many tokens you want to return to Person A in case Person A does
        transfer his endowment and you receive 30 tokens. You can do this in integer amounts in
        steps of three tokens (i.e., 0, 3, …, 27, 30). The tokens you do not return, you keep for
        yourself in addition to your initial endowment of 10 tokens.
    </div>
    <div>
        You need to take this decision 12 times because the Person A you are matched with can be
        from any of the 12 cities.
    </div>



{% endblock %}
