{% extends 'trust/includes/generic_block.html' %}
{% block title %}
    Sender belief upon Receiver decision
{% endblock %}
{% block body %}
    Please estimate how many tokens your matched Person B will return if you would have
    transferred your initial endowment and Person B would have received 30 tokens. This is
    independent of whether you actually have transferred your endowment. You need to take
    this decision 12 times because the Person B you are matched with can be from any of the 12
    cities.
{% endblock %}
