{% extends "global/Page.html" %}
{% load otree  i18n %}

{% block title %}
    {% trans 'Часть 2. Дополнительные вопросы' %}
{% endblock %}

{% block content %}
    <style>
    td .form-group{
        margin-bottom: 0px;
    }
    </style>
    {% include 'trust/includes/extra_block.html' %}
    <h5>{% trans 'Дополнительный вопрос' %} 1</h5>
    <p>
        {% blocktrans trimmed %}Предположим, что 100 случайным образом выбранных Участников А из каждого из 12 городов должны
            решить, передавать ли им свои начальные суммы Участникам Б из этого исследования. Согласно Вашей оценке,
            сколько из этих участников А в каждом из этих городов примет решение передать свою начальную сумму
            Участникам Б?

        {% endblocktrans %}
    </p>
    <p>{% trans 'Пожалуйста, впишите свою оценку (Число от 0 до 100) в каждую строку таблицы.' %}</p>

    {{ formset.management_form }}
    <table class="table table-hover table-stripped table-sm ">
        <thead>
        <th class="align-top">{% trans 'Сколько человек из 100 случайно выбранных Участников А из города ' %}</th>

        <th class="align-top">
            {% trans 'согласно Вашей оценке, передаст свои начальные суммы Участникам Б ' %}
        </th>
        </thead>
        <tbody>
        {% for f in formset %}
            <tr>
                <td>
                {% if  LANGUAGE_CODE == 'en' %}
                        {{ f.instance.city.eng }}
                    {% else %}
                        {{ f.instance.city.description }}
                    {% endif %}
                </td>
                <td>
                    {% for field in f %}
                        {% formfield field label='' %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% next_button %}

{% endblock %}
