{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Часть 2. Дополнительные вопросы
{% endblock %}

{% block content %}
    {% include 'trust/includes/extra_block.html' %}

    <p>
        Представьте себе, что 100 случайным образом выбранных Участников А из каждого из 12 городов примут решения о
        передаче своих начальных сумм Участникам Б. Как Вы думаете, сколько из этих участников в каждом из этих
        городов примет решение передать свою начальную сумму Участникам Б? Впишите в каждую строку таблицы
        соответствующее число (от 0 до 100).
    </p>

    {{ formset.management_form }}
    <table class="table table-hover table-stripped table-sm ">
        <thead>
        <th>Сколько человек из 100 случайно выбранных Участников А из города</th>

        <th>
            по Вашему мнению, передаст свои начальные суммы Участникам Б?
        </th>
        </thead>
        <tbody>
        {% for f in formset %}
            <tr>
                <td>  {{ f.instance.city.description }}</td>
                <td>
                    {% for field in f %}
                        {% formfield field label='' %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% next_button %}

{% endblock %}
