{% extends "global/Page.html" %}
{% load otree  i18n %}

{% block title %}
    {% trans 'Часть 2. Дополнительные вопросы' %}
{% endblock %}

{% block content %}
    {% include 'trust/includes/extra_block.html' %}
    <p>
        {% blocktrans %}Предположим, что 100 случайным образом выбранных Участников Б из каждого из 12 городов должны
            решить, сколько из 30 токенов они вернут Участникам А  из этого эксперимента. Согласно Вашей оценке, какую
            сумму в среднем вернут эти Участники Б из каждого из 12 городов?
        {% endblocktrans %}
    </p>
    <p>{% trans 'Пожалуйста, впишите свою оценку (целое число от 0 до 30) в каждую строку таблицы.' %}</p>

    {{ formset.management_form }}

    <table class="table table-hover table-stripped table-sm ">
        <thead>
        <th>{% trans '100 случайно выбранных Участников Б из города' %}
        </th>

        <th>
            {% trans 'согласно Вашей оценке, в среднем вернут Участникам А сумму' %}
        </th>
        </thead>
        <tbody>
        {% for f in formset %}
            <tr>
                <td>
                {% if  LANGUAGE_CODE == 'en' %}
                        {{ f.instance.city.eng }}
                    {% else %}
                        {{ f.instance.city.description }}
                    {% endif %}
                </td>
                <td>
                    {% for field in f %}
                        {% formfield field label='' %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% next_button %}

{% endblock %}
