{% extends "global/Page.html" %}
{% load otree  i18n hse %}

{% block title %}
    {% trans 'Проверочные вопросы для части 2' %}
{% endblock %}
{% block custom_error_msg %}
    {% for foo in   form.non_form_errors %}
        {{ foo }}
    {% endfor %}
{% endblock %}
{% block content %}
    <h5>
    {% blocktrans %}Пожалуйста, ответьте на следующие вопросы. Если Вам нужна помощь, пожалуйста обратитесь к инструкциям, кликнув на кнопку в верхней части экрана.{% endblocktrans %}
    </h5>

    {{ form.management_form }}

    {% for foo in form %}
        {% for field in foo %}
            {% cqfield field %}
        {% endfor %}

    {% endfor %}



    {% next_button %}

{% endblock %}
{% block styles %}
    <style>

        .controls.field-answer {
            display: flex;
            flex-wrap: nowrap;
            justify-content: left;
        }
    </style>

{% endblock %}