{% extends "global/Page.html" %}
{% load otree hse i18n %}

{% block title %}
    {% trans 'Часть 2. Примеры.' %}
{% endblock %}

{% block content %}
    <div class="card my-3">
        <div class="card-body">
            {% include player.get_part2_examples_path %}
        </div>
    </div>
    <div >
        <p>
            {% trans 'Пожалуйста кликните на кнопку внизу если Вы прочитали инструкции.' %}
        </p>
        <div class="alert alert-warning">
            {% blocktrans %}Важная информация: инструкции всегда доступны Вам в ходе эксперимента: просто кликните на кнопку “Инструкции - часть 2” в правой верхней части экрана

            {% endblocktrans %}
        </div>

        <p>
            {% trans 'Перед началом Части 2 эксперимента просим Вас ответить на несколько проверочных вопросов, которые помогут Вам лучше понять Ваши задания.' %}
        </p>


    </div>
    <div class="my-3">
        {% trans 'Да, я прочитал(а) инструкции' as btnlabel %}
        {% hse_button html_class='btn-danger' label=btnlabel %}
    </div>
{% endblock %}