{% extends "global/Page.html" %}
{% load otree static i18n %}

{% block title %}
    {% trans ' Instructions' %}
{% endblock %}

{% block content %}

    {% include 'trust/includes/instructions/common_instructions.html' %}

    <button class="btn-lg  nextbtn" id='next-btn' type="submit" disabled>Please read the instructions</button>
    <script>
        let pointerR = 0;
        const nextBtn = $('#next-btn');
        nextBtn.html('Please read the instructions')
        $('.btn-link').click(function () {

            pointerR += parseInt(this.dataset.partid);
            if (pointerR > 2) {

                nextBtn.addClass('btn-danger');
                nextBtn.html('Yes, I read the instructions')
                nextBtn.attr('disabled', false);
            }
        })


    </script>
{% endblock %}
