{% extends "global/Page.html" %}
{% load otree static i18n %}

{% block title %}
    {% trans 'Instructions' %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col  d-flex flex-column">
            {% include 'trust/includes/instructions/sender_instructions_2.html' %}
        </div>
        <div class="col  d-flex flex-column">
            {% include 'trust/includes/instructions/receiver_instructions_2.html' %}
        </div>

    </div>
    <div class="row">
        <div class="col">


            <p> Further information will follow when Part 2 of the experiment starts.</p>
            <p> Please click the link below if you understood the instructions.</p>
            <p> Before the experiment itself starts, a brief quiz will check whether you understood the tasks.</p>

        </div>
    </div>
    <button class="btn-lg btn-danger">{% trans 'Да, я полностью прочитал(а) инструкции' %}</button>

{% endblock %}
