{% extends "global/Page.html" %}
{% load otree hse i18n %}

{% block title %}

{% endblock %}

{% block content %}
    <div class="card my-3">
        <div class="card-body">
            <div class="lead">
                {% blocktrans %}Вы дали правильные ответы на проверочные вопросы. Теперь начинается Часть 1 исследования.
                {% endblocktrans %}
            </div>
        </div>
    </div>
    <div class="my-3">
        {% trans 'Начать исследование' as btnlabel %}
        {% hse_button html_class='btn-success' label=btnlabel %}
    </div>
{% endblock %}