{% extends "global/Page.html" %}
{% load otree static i18n %}

{% block title %}
    {% blocktrans with role=player.role_desc %}Часть 2. Участник {{ role }}: оценки{% endblocktrans %}
{% endblock %}

{% block content %}

    {% include 'trust/includes/instruction_toggler.html' with path_to_instructions='trust/includes/instructions/common_instructions.html' %}

    {{ formset.management_form }}
    <table class="table table-hover table-stripped table-sm ">
        <thead class="align-top">
        <th class="align-top">
            {% blocktrans with role=player.role_desc %}Если Участник {{ role }}, с которым Вы взаимодействуете, из города
            {% endblocktrans %}
        </th>

        <th class="align-top">
            {% blocktrans with other=player.other.role_desc%}cогласно Вашей оценке, передал ли Вам этот Участник {{ other }} свою начальную сумму или нет?{% endblocktrans %}

        </th>
        </thead>
        <tbody>
        {% for f in formset %}
            <tr>
                <td>  {{ f.instance.city.description }}</td>
                <td>
                    {% for field in f %}
                        {% formfield field label='' %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% next_button %}

{% endblock %}
