{% extends "global/Page.html" %}
{% load otree  i18n %}

{% block title %}
    {% trans 'Часть 2. Ваши оценки' %}
{% endblock %}

{% block content %}
    <div class="card my-3">
        <div class="card-body">
            {% blocktrans %}
                Пожалуйста оцените, передаст ли Вам Участник А из вашей пары свою начальную сумму или же нет.
            {% endblocktrans %}
        </div>
    </div>


    {{ formset.management_form }}
    <table class="table table-hover table-stripped table-sm ">
        <thead class="align-top">
        <th class="align-top">
            {% trans 'Если Участник А, с которым Вы взаимодействуете, из города' %}
        </th>

        <th class="align-top">
           {% trans 'то, согласно Вашей оценке, передаст Вам этот Участник А свою начальную сумму или же нет?' %}

        </th>
        </thead>
        <tbody>
        {% for f in formset %}
            <tr>
                <td>  {{ f.instance.city.description }}</td>
                <td>
                    {% for field in f %}
                        {% formfield field label='' %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% next_button %}

{% endblock %}
