{% extends "global/Page.html" %}
{% load otree static i18n %}

{% block title %}
    {% blocktrans with role=player.role_desc %}Часть 1. Участник {{ role }}: решения{% endblocktrans %}

{% endblock %}

{% block content %}
    {{ formset.management_form }}
    <table class="table table-hover table-stripped table-sm ">
        <thead>
        <th>
            {% blocktrans with other=player.other_role_desc %}Если Участник {{ other }}, с которым Вы взаимодействуете, из
                города
            {% endblocktrans %}

        </th>

        <th>
            {% blocktrans with other=player.other_role_desc %}то согласны ли Вы передать Вашу начальную сумму этому
                Участнику {{ other }}?
            {% endblocktrans %}

        </th>
        </thead>
        <tbody>
        {% for f in formset %}
            <tr>
                <td>  {{ f.instance.city.description }}</td>
                <td>
                    {% for field in f %}
                        {% formfield field label='' %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% next_button %}

{% endblock %}
