{% extends "global/Page.html" %}
{% load otree static i18n %}

{% block title %}
    {% blocktrans with role=player.role_desc %}Часть 2. Участник {{ role }}: оценки{% endblocktrans %}
{% endblock %}

{% block content %}
    <div class="card my-3">
        <div class="card-body">
            {% blocktrans %}
                Please estimate how many Token the paired Person B will return if you would have transferred your
                initial endowment, independently of whether you have actually done so.
            {% endblocktrans %}
        </div>
    </div>

    {{ formset.management_form }}
    <table class="table table-hover table-stripped table-sm ">
        <thead>
        <th class="align-top">
            {% blocktrans with other=player.other_role_desc %}Если бы Вы передали Вашу начальную сумму Участнику
                {{ other }} из города{% endblocktrans %}


        </th>

        <th class="align-top">
            {% blocktrans with max_return=Constants.max_return other=player.other_role_desc %}то как Вы оцениваете,
                сколько из {{ max_return }} токенов этот Участник {{ other }} вернул бы Вам
            {% endblocktrans %}

        </th>
        </thead>
        <tbody>
        {% for f in formset %}
            <tr>
                <td>  {{ f.instance.city.description }}</td>
                <td>
                    {% for field in f %}
                        {% formfield field label='' %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% next_button %}

{% endblock %}
