{% extends "global/Page.html" %}
{% load otree static   %}

{% block title %}
    Часть 1. Участник {{ player.role_desc }}: решения
{% endblock %}

{% block content %}
    {% include 'trust/includes/instruction_toggler.html' with path_to_instructions='trust/includes/instructions/sender_instructions_1.html' %}
    {{ formset.management_form }}
    <table class="table table-hover table-stripped table-sm ">
        <thead>
        <th>Если Участник {{ player.other.role_desc }}, с которым Вы взаимодействуете, из города</th>

        <th>то согласны ли Вы передать Вашу начальную сумму этому Участнику {{ player.other.role_desc }}?</th>
        </thead>
        <tbody>
        {% for f in formset %}
            <tr>
                <td>  {{ f.instance.city.description }}</td>
                <td>
                    {% for field in f %}
                        {% formfield field label='' %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% next_button %}

{% endblock %}
