{% load otree %}
<tr id="app_{{ widget.name }}">
    <td>{{ label }}</td>
    <template v-for='(ch, index) in checkboxes' :key='index'>
        <td class="text-center">
            <input class="styled-checkbox" type="checkbox" :id="index" :checked="ch.checked" @change="setCheckbox($event.target)">
        </td>
    </template>

    <input type="hidden" :name="owner" class="form-control" :value='pureed'>
</tr>
<script>
    var app = new Vue({
        el: "#app_{{ widget.name }}",
        delimiters: ['[[', ']]'],
        data: {
            blocked: {{ blocked }},
            owner: "{{widget.name}}",
            checkboxes: {{inner_choices|json}},
            chvalue: []
        },
        computed: {
            pureed: function () {
                return this.chvalue.join("");
            }
        },
        methods: {
            setCheckbox: function (target) {
                const innerId = target.id;
                const carVal = this.checkboxes[innerId].value;

                this.checkboxes[innerId].checked = !this.checkboxes[innerId].checked;
                if (
                    carVal == this.blocked &&
                    this.checkboxes[innerId].checked
                ) {
                    this.checkboxes.forEach((el, ind) => {
                        if (ind !== parseInt(innerId)) {
                            el.checked = false;
                        }
                    });
                } else {
                    _.filter(this.checkboxes, {value: this.blocked}).forEach((el) => {
                        el.checked = false;
                    });
                }

                this.chvalue = _.map(_.filter(this.checkboxes, "checked"), "value");
            }
        }
    });

</script>