{% load otree i18n %}

<div class="my-3">
    <style>
        .modal-lg{max-width: 850px}
    </style>
    <div class="modal fade " id="instructions1Modal" tabindex="-1" role="dialog"
         aria-labelledby="instructions1ModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="instructions1ModalLabel">{% trans 'Инструкции - часть 1' %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% include 'trust/includes/card_block.html' with instruction_links=player.get_instruction_links_part1 %}

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Закрыть' %}</button>

                </div>
            </div>
        </div>
    </div>
</div>