{% load otree i18n %}

<div class="my-3">

    <div class="modal fade " id="instructions2Modal" tabindex="-1" role="dialog"
         aria-labelledby="instructions2ModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="instructions2ModalLabel">{% trans 'Инструкции - часть 2' %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% include player.get_part2_instructions_path %}

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Закрыть' %}</button>

                </div>
            </div>
        </div>
    </div>
</div>