{% load otree i18n %}


<div class="fixed-top">

    <div class="progress progress2">

        <div class="progress-bar   " role="progressbar" style="width: {{ view.get_progress }}%"
             aria-valuenow="{{ view.get_progress }}" aria-valuemin="0" aria-valuemax="100">
        </div>
        <div class="justify-content-center d-flex position-absolute w-100 align-items-center align-self-center">
            <div>{{ view.get_progress }}% {% trans 'готово' %}</div>
        </div>
    </div>
    {% if view.show_instructions|default_if_none:False %}
        <nav class="navbar navbar-expand navbar-expand-lg navbar-light bg-light">
            <div class=" navbar-expand ml-auto  " id="navbarTogglerDemo02">
                <div class="btn-group navbar-nav ml-auto mt-2 mt-lg-0 " role="group" aria-label="Basic example">
                    <button class="btn btn-outline-primary nav-item" role="button"
                            onclick="$('#exampleModal').modal('show')">Show instructions
                    </button>
                    {% if view.show_map|default_if_none:True %}
                        <button class="btn btn-outline-info nav-item" role="button"
                                onclick="$('#mapModal').modal('show')">Show map
                        </button>
                    {% endif %}
                </div>
            </div>

        </nav>
    {% endif %}
</div>


<style>
    .innerprogcont {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
    }

    .progress2 {
        height: 30px;
        border-radius: 0px;
    }

    .progress1 {
        height: 30px;
    }

    .item {
        font-size: 15px;
        text-align: center;
        height: 30px;
        border: 1px solid rgba(0, 0, 0, .125);
        width: 100%

    }

    .item.active {
        color: white;
        background: #007bff !important;
    }
</style>
