{% load otree %}
<style>
    .joined-table .form-check-input {
        position: relative;
        margin-top: inherit;
        margin-left: inherit;
    }
</style>
{#{{ fields_order }}#}
{% if fields_order|default_if_none:False %}
{#    do something based on order#}
{#    <div class="jopa">JOPA</div>#}
{% else %}
    {% for jfield in form.joined_fields|default_if_none:None %}
        {% include 'questionnaire/includes/joined_field.html' with jfield=jfield form=form %}
    {% endfor %}

    {% for foo in form %}
        {% if foo.name in form.non_joined_fields %}
            {% formfield foo %}
        {% endif %}
    {% endfor %}

{% endif %}
