<div class="card my-3">
    <div class="card-header">
        Cubicles
    </div>
    <div class="card-body">
        <h5 class="card-title">Cubicles monitor:</h5>


        <div class="row">
            <div class="col-6">
                <h6>{{ data.city1.code }}: {{ data.city1.description }}</h6>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        Occupied: {% for foo in data.busy_cubicles.city1|default:None %}
                            <span class="badge badge-primary">{{ foo }}</span>
                        {% endfor %}

                    </li>
                    <li class="list-group-item">
                        Still free:{% for foo in data.free_cubicles.city1|default:None %}
                            <span class="badge badge-danger">  {{ foo }}</span>
                        {% endfor %}</li>

                </ul>
            </div>
            <div class="col-6">
                <h6>{{ data.city2.code }}: {{ data.city2.description }}</h6>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                       Occupied: {% for foo in data.busy_cubicles.city2|default:None %}
                            <span class="badge badge-primary">{{ foo }}</span>
                        {% endfor %}

                    </li>
                    <li class="list-group-item">
                        Still free: {% for foo in data.free_cubicles.city2|default:None %}
                            <span class="badge badge-danger">  {{ foo }}</span>
                        {% endfor %}</li>

                </ul>
            </div>
        </div>


    </div>
</div>