{% extends "trust/admin/BaseDAAdmin.html" %}
{% load static %}
{% block title %}

    Decisions - wide format

{% endblock %}

{% block content %}

    {% if decisions %}
        <table class="table-hover table-striped table ">
            <thead>
            {% for foo in decisions.first.keys %}
                <th>{{ foo }}</th>
            {% endfor %}

            </thead>
            <tbody>
            {% for foo in decisions %}
                <tr>
                    {% for i,j in foo.items %}
                        <td>{{ j }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        No data on decisions have been found.
    {% endif %}

{% endblock %}



