{% extends "trust/admin/BaseDAAdmin.html" %}
{% load static %}
{% block title %}

    Decisions

{% endblock %}

{% block content %}

    {% if decisions %}
        <table class="table-hover table-striped table ">
            <thead>
            <th>Session</th>
            <th>Participant code</th>
            <th>Decision type</th>
            <th>City code</th>
            <th>City name</th>
            <th>Decision</th>


            </thead>
            {% for s in decisions %}
                <tr>
                    <td>
                        {{ s.owner.session.code }}
                    </td>
                    <td>
                        {{ s.owner.participant.code }}
                    </td>
                    <td>
                        {{ s.decision_type }}
                    </td>
                    <td>
                        {{ s.city.code }}
                    </td>
                    <td>
                        {{ s.city.description }}
                    </td>
                    <td>
                        {{ s.answer }}
                    </td>

                </tr>
            {% endfor %}
        </table>

        {% include 'trust/admin/includes/pagination_footer.html' %}
    {% else %}
        No data on decisions have been found.
    {% endif %}

{% endblock %}

{% block internal_scripts %}
    {{ block.super }}
    {% include 'trust/admin/includes/export_connector.html' %}
{% endblock %}
