{% extends "trust/admin/BaseDAAdmin.html" %}
{% load static %}
{% block title %}

    Sender Decisions

{% endblock %}

{% block content %}

    {% if decisions %}
        <table class="table-hover table-striped table ">
            <thead>
            <th>Session</th>
            <th>Sender</th>
            <th>Receiver</th>
            <th>Sender City</th>
            <th>Receiver City</th>
            <th>Amount sent by Trustor</th>



            </thead>
            {% for s in decisions %}
                <tr>
                    <td>
                        {{ s.sender.session.code }}
                    </td>
                    <td>
                        {{ s.sender.participant.code }}
                    </td>
                    <td>
                        {{ s.receiver.participant.code }}
                    </td>
                    <td>
                        {{ s.sender.own_city }}
                    </td>
                    <td>
                        {{ s.sender.city }}
                    </td>
                    <td>
                        {{ s.amount }}
                    </td>

                </tr>
            {% endfor %}
        </table>

        {% include 'trust/admin/includes/pagination_footer.html' %}
    {% else %}
        No data on sender decisions have been found.
    {% endif %}
{% endblock %}



