{% load i18n %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<div class="accordion my-3" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                        data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
                        data-partid="0" onclick="pointer=0">
                    {% trans 'Инструкции' %}
                </button>
            </h2>
        </div>

        <div id="collapseOne" class="collapse {% if show_block|default_if_none:1 == 1 %}show{% endif %}"
             aria-labelledby="headingOne">
            <div class="card-body">
                <p>
                    {% blocktrans %}Каждому участнику случайным образом выпадает одна из двух ролей: Участник А или
                        Участник Б. Как только начнется эксперимент, Вы узнаете, Вашу роль: Участник А или Участник
                        Б.{% endblocktrans %}
                </p>
                <p>
                    {% blocktrans %}Два участника, А и Б взаимодействуют друг с другом в паре. Вы случайным образом
                        определены в пару к Участнику А или Б из одного из 12 городов, возможно из Вашего же. Когда Вы
                        будете принимать Ваши решения, Вы не будете знать, из какого именно города тот Участник А или Б,
                        с которым Вы взаимодействуете. Поскольку участник, с которым Вы взаимодействуете, может быть из
                        любого из 12 городов, Вам следует внимательно изучить весь список городов прежде чем принять
                        решение.
                    {% endblocktrans %}
                </p>
                <p>
                    {% blocktrans %}В начале эксперимента как Участник А, так и Участник Б  получают от организаторов
                        начальную сумму в 10 токенов (=1 US$) каждый.
                    {% endblocktrans %}

                    </span>
                </p>

                {% blocktrans %} Пожалуйста, прочитайте теперь задание для обоих Участников: А и Б{% endblocktrans %}
            </div>
        </div>

    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button"
                        data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                        aria-controls="collapseTwo" data-partid="1" onclick="pointer=1">
                    {% blocktrans %}Кликните чтобы прочесть задание Участника А{% endblocktrans %}
                </button>
            </h2>
        </div>

        <div id="collapseTwo" class="collapse  {% if show_block|default_if_none:1 == 2 %}show{% endif %}"
             aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                {% include 'trust/includes/instructions/sender_instructions_1.html' %}
            </div>
        </div>

    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button"
                        data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                        aria-controls="collapseThree" data-partid="2">
                    {% blocktrans %}Кликните чтобы прочесть задание Участника Б{% endblocktrans %}
                </button>
            </h2>
        </div>

        <div id="collapseThree" class="collapse  {% if show_block|default_if_none:1 == 3 %}show{% endif %}"
             aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                {% include 'trust/includes/instructions/receiver_instructions_1.html' %}
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingPayoffs">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button"
                        data-toggle="collapse" data-target="#collapsePayoff" aria-expanded="false"
                        aria-controls="collapsePayoff" data-partid="3">
                    {% trans 'Вычисление бонуса' %}
                </button>
            </h2>
        </div>

        <div id="collapsePayoff" class="collapse  {% if show_block|default_if_none:1 == 4 %}show{% endif %}"
             aria-labelledby="headingPayoffs" data-parent="#accordionExample">
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div>

                            {% blocktrans %}Бонус Участника А за Часть 1  = начальная сумма 10
                                токенов
                                <b>минус</b> передача Участнику Б
                                <b>плюс</b> возврат от Участника Б
                            {% endblocktrans %}
                        </div>
                        <div><i>{% trans 'или 10 токенов если начальная сумма не была передана' %}</i></div>


                    </li>
                    <li class="list-group-item">


                        <div>
                            {% blocktrans %}Бонус Участника Б за Часть 1 = начальная сумма 10 токенов <b>плюс</b>
                                передача от Участника А, умноженная на 3 <b>минус</b> возврат Участнику
                                А{% endblocktrans %}
                        </div>
                        <div><i>{% trans 'или 10 токенов если начальная сумма не была передана' %}</i></div>

                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>