
<div class="row">
    <div class="col">
        <p>Two participants “Person A” and “Person B” are interacting with each other in a pair.</p>
        <p> Person A and Person B both receive an initial endowment of 10 Token.</p>
        <p> Each participant is randomly allocated to be Person A or Person B.</p>
        <p> You will be informed about your role when the experiment starts.</p>
        <p> You will be paired with one participant A or B from one of the 12 Cities, including your own.</p>
        <p> You will not know the City’s name where this person A or B is located when making your decisions.</p>
        <p> You should carefully read the list of Cities before making your decision as you can be paired with any of
            the 12 cities.</p>
        <p> Please read now the task description for both Person A and B.</p>
    </div>
</div>
<div class="row">
    <div class="  col-xs-12 col-lg-6 d-flex flex-column">
        {% include 'trust/includes/instructions/sender_instructions_1.html' %}
    </div>
    <div class=" col-xs-12 col-lg-6  d-flex flex-column">
        {% include 'trust/includes/instructions/receiver_instructions_1.html' %}
    </div>

</div>
