{% load   i18n %}
<div class="card">
    <div class="card-header" id="headingOne">
        <h5 class="mb-0">
            {% trans 'Ваша задача' %}
        </h5>
    </div>
    <div class="card-body">
        <p>
            {% blocktrans %}Вам надо оценить сколько токенов Участник Б из вашей пары вернет Вам, если Вы передадите ему
                свою начальную сумму. Вы должны оценить само это решение Участника Б, независимо от того, передали ли Вы
                ему свою начальную сумму или же нет.
            {% endblocktrans %}
        </p>

        {% if in_popup|default_if_none:True %}
            <p>
                {% blocktrans %}Поскольку в настоящий момент Вы не знаете, в каком городе находится Участник Б из Вашей
                    пары, Вам надо дать эту оценку решения Участника Б 12 раз – по одному для каждого из 12 городов,
                    участвующих в этом исследовании.
                {% endblocktrans %}
            </p>
        {% endif %}

    </div>
</div>

<div class="card my-3">
    <div class="card-header " id="headingOne">
        <h5 class="mb-0">
            {% trans 'Подсчет Вашего бонуса в части 2' %}
        </h5>
    </div>
    <div class="card-body">
        <p>
            {% blocktrans %}Ваша оценка решения Участника Б из Вашей пары о возврате сравнивается с действительным
                решением этого Участника Б в Части 1 исследования. Размер бонуса определяется на основе Вашей оценки
                согласно следующему правилу:
            {% endblocktrans %}

        <table class="table-striped table table-hover">
            <thead>
            <th>{% trans 'Разница между Вашей оценкой и действительным решением Участника Б:' %}</th>
            <th>{% trans 'Ваш бонус в части 2:' %}</th>
            </thead>
            <tbody>
            <tr>
                <td>{% trans 'Разница равна 0 (Ваша оценка совпадает с решением Участника Б о возврате):' %}</td>
                <td><b>20 {% trans 'токенов' %}</b></td>
            </tr>
            <tr>
                <td>{% trans 'Разница больше 0, но не превышает плюс-минус 3 токена .' %}</td>
                <td><b>10 {% trans 'токенов' %}</b></td>
            </tr>
            <tr>
                <td>{% trans 'Разница больше чем плюс-минус 3 токена.' %}</td>
                <td><b>0 {% trans 'токенов' %}</b></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


