{% load i18n %}
<div class="card my-3">
    <div class="card-header" id="headingOne">
        <h5 class="mb-0">
            {% trans 'Ваша задача' %}
        </h5>
    </div>
    <div class="card-body">
        <p>
            {% trans 'Вам надо оценить, передаст ли Вам Участник А из вашей пары свою начальную сумму или же нет.' %}
        <p>
        {% blocktrans %}Поскольку в настоящий момент Вы не знаете, в каком городе находится Участник А из Вашей пары, Вам надо дать оценку этого решения Участника А 12 раз – по одному для каждого из 12 городов, участвующих в этом эксперименте. 
        {% endblocktrans %}
        </p>
    </div>
</div>
<div class="card mt-3">
    <div class="card-header" id="headingOne">
        <h5 class="mb-0">
           {% trans 'Подсчет Вашего бонуса в части 2' %}
        </h5>
    </div>
    <div class="card-body">
        <p>
            {% blocktrans %}Ваша оценка того, передал Вам Участник А из Вашей пары свою начальную сумму или же нет, сравнивается с действительным решением этого Участник А в Части 1 эксперимента. Размер Вашего бонуса определяется на основе Вашей оценки согласно следующему правилу:
            {% endblocktrans %}
        </p>

        <ul>
            <li>
                {% trans 'Если Вы верно оценили решение Участника А, Ваш бонус в части 2 составит ' %} <b>10 {% trans 'токенов' %}</b>.
            </li>
            <li>
                {% trans 'Если Вы неверно оценили решение Участника А, Ваш бонус в части 2 составит ' %} <b>0 {% trans 'токенов' %}</b>.
            </li>
        </ul>


    </div>
</div>



