{% load   i18n %}
<h5>{% trans 'Подсчет Вашего бонуса в части 2' %}</h5>
<table class="table-striped table table-hover">
    <thead>
    <th>{% trans 'Разница между Вашей оценкой и действительным решением Участника Б:' %}</th>
    <th>{% trans 'Ваш бонус в части 2:' %}</th>
    </thead>
    <tbody>
    <tr>
        <td>{% trans 'Разница равна 0 (Ваша оценка совпадает с решением Участника Б о возврате):' %}</td>
        <td><b>20 {% trans 'токенов' %}</b></td>
    </tr>
    <tr>
        <td>{% trans 'Разница больше 0, но не превышает плюс-минус 3 токена .' %}</td>
        <td><b>10 {% trans 'токенов' %}</b></td>
    </tr>
    <tr>
        <td>{% trans 'Разница больше чем плюс-минус 3 токена.' %}</td>
        <td><b>0 {% trans 'токенов' %}</b></td>
    </tr>
    </tbody>
</table>
<hr>
<h5>{% trans 'Пример' %} 1:</h5>
<p>
    {% trans 'Пусть вы из города 2. В Части 1 Вы решили передать свою начальную сумму Участнику Б если этот участник из города 6.' %}
</p>
<p>
    {% blocktrans %}Вы случайным образом определены в пару с Участником Б из города 6, который решил вернуть 12 токенов,
        если он получит 30 токенов от Участника А из города 2, т.е. его начальную сумму умноженную на 3.
    {% endblocktrans %}
</p>
<p>{% trans 'Вы оценили, что Участник Б из города 6 решит вернуть Вам 15 токенов.' %}</p>
<p>{% trans 'Разница между Вашей оценкой и действительным решением Участника Б составляет 15-12=3 токена' %}</p>
<p>{% trans 'Ваш бонус в части 2: 10 токенов' %}</p>
<hr>
<h5>{% trans 'Пример' %} 2:</h5>
<p>{% trans 'Пусть вы из города 8. В Части 1 Вы решили НЕ передать свою начальную сумму Участнику Б если этот участник из города 1.' %}</p>
<p>{% trans 'Вы случайным образом определены в пару с Участником Б из города 1, который решил вернуть 12 токенов, если он получит 30 токенов от Участника А из города 8, т.е. его начальную сумму умноженную на 3.' %}</p>
<p>{% trans 'Вы оценили, что Участник Б из города 6 решит вернуть 18 токенов.' %}</p>
<p>{% trans 'Разница между Вашей оценкой и действительным решением Участника Б составляет 18 - 12 = 6 токенов' %}</p>
<p>{% trans 'Ваш бонус в части 2: 0 токенов' %}</p>

