{% extends 'trust/includes/generic_block.html' %}
{% load i18n %}
{% block title %}
    {% trans 'Участник Б - вычисление бонуса' %}
{% endblock %}
{% block body %}


    <div>
        {% blocktrans %}Бонус Участника Б за Часть 1 = начальная сумма 10 токенов <b>плюс</b>
            передача от Участника А, умноженная на 3 <b>минус</b> возврат Участнику
            А{% endblocktrans %}
    </div>
    <div><i>{% trans 'или 10 токенов если начальная сумма не была передана' %}</i></div>


    <hr>
    <p class="lead">{% trans 'Пример 1:' %}</p>
    <p>{% trans 'Пусть вы из города 2.' %}</p>
    <p>{% trans 'Вы случайным образом определены в пару с Участником А из города 6.' %}</p>
    <p>{% trans 'Вы решили вернуть 15 токенов, если Участник А из города 6 передаст Вам свою начальную сумму.' %}</p>
    <p>{% trans 'Участник А из города 6  решил передать вам свою начальную сумму.' %}</p>

    <p><span class="bold">{% trans 'Ваш бонус в части 1:' %}</span> <code>10 + 30 – 15 = 25 {% trans 'токенов' %}</code>
    </p>
    <p><span class="bold darkred"></span> {% trans 'В том числе начальная сумма:' %}
        <code>10 {% trans 'токенов' %}</code></p>
    <p><span class="bold darkred">{% trans 'плюс' %}</span> {% trans 'передача 10 токенов х 3' %}:
        <code>30 {% trans 'токенов' %}</code></p>
    <p><span class="bold darkred">{% trans 'минус' %}</span> {% trans 'возврат' %}:
        <code>15 {% trans 'токенов' %}</code>
    </p>
    <hr>
    <p class="lead">{% trans 'Пример 2' %}:</p>
    <p>{% trans 'Пусть вы из города 1.' %}</p>
    <p>{% trans 'Вы случайным образом определены в пару с Участником А из города 8.' %}</p>
    <p>{% trans 'Вы решаете вернуть 9 токенов, если Участник А из города 8  передаст Вам свою начальную сумму.' %}</p>
    <p>{% trans 'Участник А из города 8 решает не передавать вам свою начальную сумму.' %}</p>

    <p><span class="bold">{% trans 'Ваш бонус в части 1:' %}</span> <code>10 + 0 - 0 = 10 {% trans 'токенов' %}</code>
    </p>
    <p><span class="bold darkred"></span> {% trans 'В том числе начальная сумма:' %}
        <code>10 {% trans 'токенов' %}</code></p>
    <p><span class="bold darkred">{% trans 'плюс' %}</span> {% trans 'передача 0 токенов х 3' %}:
        <code>0 {% trans 'токенов' %}</code></p>
    <p><span class="bold darkred">{% trans 'минус' %}</span> {% trans 'возврат' %}: <code>0 {% trans 'токенов' %}</code>
    </p>

{% endblock %}
