{% extends 'trust/includes/generic_block.html' %}
{% block title %}
        Person A - payoff calculation
{% endblock %}
{% block body %}

    <p><code><span class="bold">Payoff</span> = Your endowment
        <span class="bold darkred">minus</span> transfer
        <span class="bold darkred">plus</span> return amount</code>

    <hr>
    <p class="lead">Example 1:</p>
    <p>Suppose you are from City 6 in Region 6.</p>

    <p> You decided to <span class="bold">transfer</span> your endowment.</p>
    <p> You are randomly paired with a participant B from City 2 in Region 2 who stated to return 15 Token in case you
        transferred your endowment.</p>

    <p><span class="bold">Your payoff:</span> <code>10 – 10 + 15= 15</code></p>
    <p><span class="bold darkred">equals</span> Your endowment: <code>10</code></p>
    <p><span class="bold darkred">minus</span> transfer: <code>10</code></p>
    <p><span class="bold darkred">plus</span> return amount: <code>15</code></p>



    <hr>

    <p class="lead">Example 2:</p>
    <p>Suppose you are from City 8 in Region 8.</p>
    <p> You decided <span class="bold">not to transfer</span> your endowment.</p>
    <p> You are randomly paired with a participant B from City 1 in Region 1 who stated to return 9 Token in case you
        transferred your endowment.</p>
    <p><span class="bold">Your payoff:</span> <code>10 – 0 (+ 0) = 10 </code></p>
    <p><span class="bold darkred">equals</span> Your endowment: <code>10</code></p>
    <p><span class="bold darkred">minus</span> transfer: <code>(0)</code></p>
    <p><span class="bold darkred">plus</span> return amount: <code>(0)</code></p>



{% endblock %}
