{% extends 'trust/includes/generic_block.html' %}
{% block title %}
    Your Task if you are Person A
{% endblock %}
{% block body %}
    {#    TODO: redo numbers from constants.#}
    <ul class="list-group list-group-flush">

        <li class="list-group-item">
            You have to choose whether you want to transfer your initial endowment of 10 Token to Person B, or not.
        </li>
        <li class="list-group-item">
            In case of no transfer, you stay with your endowment of 10 Tokens.
        </li>
        <li class="list-group-item">
            If you transfer your endowment to Person B, the 10 Token are multiplied by 3. Thus, Person B receives 30
            Token.
        </li>
        <li class="list-group-item ">
            You will be paid for only one of the 12 transfer decisions.
        </li>

        <li class="list-group-item">
            You make your transfer decision for each City only once.
        </li>

    </ul>
{% endblock %}
