{% extends 'trust/includes/generic_block.html' %}
{% load i18n %}
{% block title %}
    {% trans 'Участник А - вычисление бонуса' %}
{% endblock %}
{% block body %}

    <div>

        {% blocktrans %}Бонус Участника А за Часть 1  = начальная сумма 10
            токенов
            <b>минус</b> передача Участнику Б
            <b>плюс</b> возврат от Участника Б
        {% endblocktrans %}
    </div>
    <div><i>{% trans 'или 10 токенов если начальная сумма не была передана' %}</i></div>


    <hr>
    <p class="lead">
        {% trans 'Пример 1:' %}
    </p>
    <p>
        {% trans 'Пусть вы из города 6.' %}
    </p>

    <p>
        {% trans 'Вы решили передать Вашу начальную сумму Участнику Б из города 2.' %}
    </p>
    <p>
        {% blocktrans %}Вы случайным образом определены в пару с Участником Б из города 2, который решил что вернет Вам
            15 токенов, если Вы решите передать ему свою начальную сумму.
        {% endblocktrans %}
    </p>

    <p><span class="bold">{% trans 'Ваш бонус в части 1:' %}</span> <code>10 – 10 + 15= 15 {% trans 'токенов' %}</code>
    </p>
    <p><span class="bold darkred"></span> {% trans 'В том числе начальная сумма:' %}
        <code>10 {% trans 'токенов' %}</code></p>
    <p><span class="bold darkred">{% trans 'минус' %}</span> {% trans 'передача' %}:
        <code>10 {% trans 'токенов' %}</code></p>
    <p><span class="bold darkred">{% trans 'плюс' %}</span> {% trans 'возврат' %}: <code>15 {% trans 'токенов' %}</code>
    </p>



    <hr>

    <p class="lead">{% trans 'Пример 2' %}:</p>
    <p>{% trans 'Пусть вы из города 8.' %}</p>
    <p> {% trans 'Вы решаете не передавать Вашу начальную сумму 10 токенов Участнику Б из города 1.' %}</p>
    <p>
        {% blocktrans %}Вы случайным образом определены в пару с Участником Б из города 1, который решил что вернет Вам
            9 токенов, если Вы решите передать ему свою начальную сумму.
        {% endblocktrans %}</p>
    <p><span class="bold">{% trans 'Ваш бонус в части 1:' %}</span> <code>10 + 0 - 0 = 10 {% trans 'токенов' %}</code>
    </p>
    <p><span class="bold darkred"></span> {% trans 'В том числе начальная сумма:' %}
        <code>10 {% trans 'токенов' %}</code></p>
    <p><span class="bold darkred">{% trans 'минус' %}</span> {% trans 'передача' %}:
        <code>0 {% trans 'токенов' %}</code></p>
    <p><span class="bold darkred">{% trans 'плюс' %}</span> {% trans 'возврат' %}: <code>0 {% trans 'токенов' %}</code>
    </p>



{% endblock %}
