{% load i18n %}
<ul class="list-group list-group-flush">

    <li class="list-group-item">{% blocktrans %}
        Вам надо решить, передаете ли Вы свою начальную сумму в 10 токенов Участнику Б или нет. Вы можете передать
        только все 10 токенов или ничего (0 токенов), частичная передача не допускается.
    {% endblocktrans %}</li>
    <li class="list-group-item">{% blocktrans %}
        Если Вы решаете не передававать свою начальную сумму, Ваши 10 токенов остаются у Вас.
    {% endblocktrans %}</li>
    <li class="list-group-item">{% blocktrans %}
        Если Вы решаете передать свою начальную сумму в 10 токенов Участнику Б, они умножаются на 3, так что Участник Б
        получит 30 токенов.
    {% endblocktrans %}</li>
    <li class="list-group-item">
        {% blocktrans %}Поскольку Вы не знаете, в каком городе находится Участник Б из Вашей пары, Вам надо принять
            решение о передаче или не передаче 10 токенов 12 раз – по одному для каждого из 12 городов. Для каждого из
            городов решение принимается один раз.
        {% endblocktrans %}
    </
    </li>
    <li class="list-group-item ">{% blocktrans %}
        Только одно из этих 12 решений имеет значение при определении Вашего бонуса, а именно: решение в отношении
        Участника Б из того города, с которым Вы действительно будете взаимодействовать.
    {% endblocktrans %}</li>


</ul>
