{% extends "otree/Page.html" %}
{% load otree static i18n %}

{% block global_styles %}
    <style>
        .col-form-label {
            font-weight: bold;
        }

        .otree-body {
            max-width: 1140px;
            margin-top: 100px !important;
        }

        .controls.field-answer {
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
        }

        .shadow {
            box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
        }

        .progress {
            min-height: {{ progress_bar_height|default_if_none:10 }}px;
        }

        .progress_text {
            white-space: nowrap;
        }

        .text-monospace {
            font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
        }

    </style>
    <style>
        code {
            color: #080808
        }

        .bold {
            font-weight: bold
        }

        .darkred {;
            color: darkred
        }
    </style>

    {% if view.show_instructions|default_if_none:False %}
        <link rel="stylesheet" href="{% static 'global/css/map.css' %}">
    {% endif %}
{% endblock %}




{% block body_main %}
    {% get_current_language as LANGUAGE_CODE %}
    {{ form.media }}
    {% block progress %}
        {% include 'global/includes/progress.html' %}
    {% endblock %}
    {% if view.show_instructions_1|default_if_none:False %}
        {% include 'global/includes/instructions1_modal.html' %}
    {% endif %}
    {% if view.show_instructions_2|default_if_none:False %}
        {% include 'global/includes/instructions2_modal.html' %}
    {% endif %}
    {% if view.show_map|default_if_none:False %}
        {% include 'global/includes/map_modal.html' %}
    {% endif %}
    <div class="otree-body container ">
        <h2 class="otree-title page-header">{% block title %}{% endblock %}</h2>
        {% if view.remaining_timeout_seconds != None %}
            {% include 'otree/includes/TimeLimit.html' with form_element_id="form" %}
        {% endif %}
        {% if form.errors %}

            {% if not view.custom_general_error|default_if_none:False %}
                {% if  view.lockable|default:False %}


                {% else %}
                    <div class="otree-form-errors alert alert-danger">
                        {% blocktrans trimmed %}Please fix the errors in the form.{% endblocktrans %}
                        {{ form.non_field_errors|default_if_none:'' }}
                    </div>
                {% endif %}
            {% else %}
                <div class="otree-form-errors alert alert-danger">
                    {% block custom_error_msg %}




                    {% endblock %}
                </div>
            {% endif %}
        {% endif %}
        <form action="" method="post" role="form" id="form" autocomplete="off">{% csrf_token %}

            <div class="_otree-content">{% block content %}{% endblock %}</div>
        </form>
        <br/>
        {% block footer %}
            {% include 'global/includes/footer.html' %}
        {% endblock %}
        {% if view.is_debug|default:False %}
            <br>
            {% include 'otree/includes/debug_info.html' %}
        {% endif %}
    </div>
{% endblock %}

{% block global_scripts %}
    <script>
        $(document).on("keydown", ":input:not(textarea):not(:submit)", function (event) {
            if (event.key == "Enter") {
                event.preventDefault();
                let empties = $("input").filter(function () {
                    return !this.value;
                });
                if (empties.length > 0) {
                    empties[0].focus()
                }
            }
        });
    </script>
    {% if view.show_instructions|default_if_none:False %}
        {# get cities data - perhaps from Constants? #}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js"
                integrity="sha256-VeNaFBVDhoX3H+gJ37DpT/nTuZTdjYro9yBruHjVmoQ=" crossorigin="anonymous"></script>
        <script>
            const cities_full = {{ Constants.cities|json }}
                let
            cities = _.filter(cities_full, 'lat')
            cities = _.map(cities, i => {
                i.name = i.name.trim().split(' ')[0];
                return i
            })
        </script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key={{ Constants.GOOGLE_API_KEY }}&callback=initMaps&language=ru&region=RU">
        </script>
        <script>
            function initMaps() {
                Popup = createPopupClass();
                const mapOptions = {
                    center: {lat: 60.524, lng: 85.3188},
                    zoom: 3,
                    gestureHandling: "none",
                    zoomControl: false,
                    disableDefaultUI: true,
                    styles: [
                        {
                            featureType: "landscape",
                            stylers: [{visibility: "off"}]
                        },
                        {
                            featureType: "road",
                            stylers: [{visibility: "off"}]
                        },

                        {
                            featureType: "poi",
                            stylers: [{visibility: "off"}]
                        }
                    ]
                };
                const mapdivs = document.getElementsByClassName("map");
                const maps = _.map(mapdivs, (i) => {
                    return new google.maps.Map(i, mapOptions);
                });
                _.forEach(maps, m => {
                    const citiesPopups = _.map(cities, (i) => {
                        return new Popup(new google.maps.LatLng(i.lat, i.long), i.name);
                    });
                    _.forEach(citiesPopups, (i) => {
                        i.setMap(m);
                    });

                });
            }

            function createPopupClass() {
                /**
                 * A customized popup on the map.
                 * @param {!google.maps.LatLng} position
                 * @param {!Element} content The bubble div.
                 * @constructor
                 * @extends {google.maps.OverlayView}
                 */
                function Popup(position, text_content) {
                    this.position = position;

                    content = document.createElement("div");
                    content.textContent = text_content || "jopa";

                    content.classList.add("popup-bubble");

                    // This zero-height div is positioned at the bottom of the bubble.
                    var bubbleAnchor = document.createElement("div");
                    bubbleAnchor.classList.add("popup-bubble-anchor");
                    bubbleAnchor.appendChild(content);

                    // This zero-height div is positioned at the bottom of the tip.
                    this.containerDiv = document.createElement("div");
                    this.containerDiv.classList.add("popup-container");
                    this.containerDiv.appendChild(bubbleAnchor);

                    // Optionally stop clicks, etc., from bubbling up to the map.
                    google.maps.OverlayView.preventMapHitsAndGesturesFrom(this.containerDiv);
                }

                // ES5 magic to extend google.maps.OverlayView.
                Popup.prototype = Object.create(google.maps.OverlayView.prototype);

                /** Called when the popup is added to the map. */
                Popup.prototype.onAdd = function () {
                    this.getPanes().floatPane.appendChild(this.containerDiv);
                };

                /** Called when the popup is removed from the map. */
                Popup.prototype.onRemove = function () {
                    if (this.containerDiv.parentElement) {
                        this.containerDiv.parentElement.removeChild(this.containerDiv);
                    }
                };

                /** Called each frame when the popup needs to draw itself. */
                Popup.prototype.draw = function () {
                    var divPosition = this.getProjection().fromLatLngToDivPixel(this.position);

                    // Hide the popup when it is far out of view.
                    var display =
                        Math.abs(divPosition.x) < 4000 && Math.abs(divPosition.y) < 4000
                            ? "block"
                            : "none";

                    if (display === "block") {
                        this.containerDiv.style.left = divPosition.x + "px";
                        this.containerDiv.style.top = divPosition.y + "px";
                    }
                    if (this.containerDiv.style.display !== display) {
                        this.containerDiv.style.display = display;
                    }
                };

                return Popup;
            }
        </script>
    {% endif %}

{% endblock %}